[submodule "IndexingModule"]
	path = IndexingModule
	url = git@github.com:ivan-tretyak/IndexingModule.git
[submodule "ORMDatabaseModule"]
	path = ORMDatabaseModule
	url = git@github.com:ivan-tretyak/ORMDatabaseModule.git
